body {
    background-color: black;
    background-image: url("imagens/fundo.jpg");
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
    margin: 5% 10%;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #ff0000;
    font-size: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 450px;
    margin: 1%;
    border: 5px solid rgb(255, 0, 0);
}

p {
    color: white;
    text-align: end;
    text-shadow: 2px 2px 4px #ea00ff;
    font-size: 20px;
}
